.article-entry pre,
.article-entry .highlight {
    margin: 0;
    padding: 6px;
    font-size: 14px;
    line-height: 32px;
    color: var(--bs-cyan);
    background: var(--bs-dark);
}

.highlight {
    border-radius: 4px;
}

.article-entry pre span {
    font-family: Menlo,Monaco,Andale Mono,lucida console,Courier New,monospace,"Microsoft YaHei";
}