.article-entry pre {
    margin: 10px 0;
    padding: 10px 10px;
    overflow: hidden;
    overflow-x: auto;
    font-size: 14px;
    line-height: 32px;
    color: var(--bs-cyan);
    background: var(--bs-dark);
}

.article-entry pre code{
    font-family: Menlo,Monaco,Andale Mono,lucida console,Courier New,monospace,"Microsoft YaHei";
}